.footer-container {
  background-color: #0b111e;
  padding: 1em;
  width: 100%;
}

.footer-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-text {
  text-align: right;
}

.footer-rights {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .footer-rights {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
  }
}
